@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

.navbar{
    background-color: rgb(0, 0, 0);
    height: 80px;
}

a.navbar-item:hover{
    color: white;
    background-color: rgb(134, 134, 134);
    transition: background-color .7s;
}