@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

html{
    background: url(assets/desk-image.jpg) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.buttons{
    justify-content: flex-end;
}

.image{
    max-width: 350px;
    margin: 0 auto;
}
.navbar{
    height: 100px;
}

a.navbar-item:hover{
    transition: background-color .7s;
}

.is-active{
    background-color: #0a0a0a;
}